<%= form_with(model: group_has_pic) do |form| %>
  <% if group_has_pic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_has_pic.errors.count, "error") %> prohibited this group_has_pic from being saved:</h2>

      <ul>
        <% group_has_pic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pic_name %>
    <%= form.text_field :pic_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.text_field :avatar %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.text_field :group_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
